:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;

  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
}
Body{
    background:linear-gradient(
        80deg,
        blue 0%,
        red 50%,
        gold 100%
    );
    overflow-Y: scroll;
    height: 100dvh;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}
/*--Begin-- from header */
header{
    background-color: var(--bs-gray-300);
    height: 12.50dvh;
    border: 2px var(--bs-gray-500) solid;
    box-shadow: 10px 4px 10px;
}
a{
    text-decoration:none;
}
.Container-Contacto{
    position: absolute;
    display: flex;
    width: fit-content;
}
.Numero-tl{
    display: flex;
    position: relative;
    left: 1100px;
    top: 45px;
    font-size:20px ;
    font-style: italic;
    font-weight: 700;
}
.Bandera-DM{
    width: 50px;
    padding:8px;
    border-radius: 5px;
    display: flex;
    top: 41px;
    position:relative;
    left: 1400px;
}
.Container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.Logo-marca{
    position: relative;
    right: 5px;
    top: -5px;
    width: 40px;
    height: 40px;
}
.marca{
    position: absolute;
    display: flex;
    width: 260px;
    top: 30px;
    left: 10px;
}
.Text-Toner{
    background: -webkit-linear-gradient(#c0bebe, #161515);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    top: 8px;
    right: -5px;
    text-shadow: 5px 5px 5px rgb(161, 153, 153);
    position: relative;
    width: 800px;
    display: flex;
    top: -0.5px;
}
.product-link{
    text-decoration: none;
    color: var(bs --bs-gray-800);
}
/* Icon de persona */
.bi-person{
    position: relative;
    left: 1000px;
    width: 30px;
    height: 30px;
    top: 16px;
}
/* --Final-- from header */

/* Body */
.Background{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width:70%;
    position: absolute;
    left:15%;
    top: 200px;
    height: 300px;
    border-radius: 10px;
    border: 3px rgb(134, 107, 107) solid;
}
.Texto-1-h6-{
    color: rgb(202, 109, 109);
    width: 230px;
    font-size: 21px;
    left: 10%;
    background: -webkit-linear-gradient(#fd0505, #0d6fee);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    top: -290px;
    transform:rotateZ(-10deg);
    position: relative;
}
.Toner-img{
    height:294px;
    width: 557px;
    border-radius: 10px;
    left: 46.50%;
    position: relative;
}

.parent-div{
    position:absolute;
    top: 98%;
    width: 100%;
}
.container-card1{
    background-color: white;
    max-width: 310px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    left: 5%;
    border: 3px solid #10c7df;
}
.Truck-icon{
    width: 300px;
    left: 2px;
    position: relative;
    border-radius: 1rem 1rem 0 0 ;
    height: 240px;
}
.Text-1{
    font-size: 17px;
    margin-top:10px;
    left: 3px;
    top: -35px;
    position: relative;
    font-weight: 800;
    color: rgb(238, 177, 21);
}
.Quality-icon{
    width: 40px;
    left: 120px;
    top: -20px;
    display: flex;
    position: relative;
}
.Text-2{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.20px;
    position: relative;
    left: 6%;
    top: -30px;
    color: rgb(45, 172, 28);
    font-style: italic;
}

.container-card2{
    background-color: white;
    position: absolute;
    top: 0;
    height: 400px;
    border-radius: 10px;
    max-width: 315px;
    left: 40%;
    border: 3px solid #10c7df;
}
.Text-3{
    color: #3f8b50;
    position: relative;
    left: 6px;
    top: 10px;
}
.impresora{
    height: 200px;
    position: relative;
    left: 15%;
}
.star-icon{
    width: 35px;
    position: relative;
    left: 45%;
    top: 30px;
}
.Text-4{
    color: red;
    font-size: 19px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.20px;
    left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    top: 30px;
}

.container-card3{
    height: 400px;
    width: 315px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: 0;
    left: 73%;
    border: 3px solid #10c7df;
}
.Text-5{
    color: #e2761e;
    position: relative;
    top: 15%;
    font-size: 16px;
    left: 6%;
    font-weight: 700;
}
.Hammer-icon{
    width: 24px;
    position: relative;
    top: 7.50%;
    left: 50%;

}
.Delivery-img{
    width: 220px;
    left: 10%;
    top: 5%;
    position: relative;   
}
.Box-icon{
    width: 40px;
    left: 130px;
    top: 65px;
    position: relative;
}
.Text-6{
    color:#aaa827;
    position: relative;
    top: 16%;
    display: flex;
    font-size: 19px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.55px;
    left: 14px;
    width: 260px;
}


/* Footer section.. */
footer{
    overflow: hidden;
    background-color: #ecf1ed;
    height: 150px;
    top: 390%;
    position: relative; 
    width: 100%;
    border-radius: 10px;
    border:rgb(134, 107, 107) solid ;
    background: rgb(70,70,65);
    background: linear-gradient(174deg, rgba(70,70,65,1) 0%, rgba(116,120,120,0.9332107843137255) 100%);
}
.Contacto-ft{
    color: #1db46d;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    left: 35%;
    top: 10%;
    display: flex;
    margin-top: 10px;
    font-family: sans-serif;
}
.container-all{
    min-height: 170dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.Info-final{
    color: var(--bs-gray-500);
    font-weight: 700;
    font-size: 25px;
    top: 55px;
    left: 10px;
    letter-spacing: 0.5px;
    position: relative;
    font-style:oblique;

}
/* Media Queries */

/* Smartphones */
@media only screen and (max-width: 767px){
    Body{
        width: 767px;
        height: 1305px;
    }
    .marca{
        top: 15px;
    }
    .Logo-marca{
        top: -8px;
        height: 35px;
        width: 40px;
        left: 3px;
        background-color: #000;
        position: relative;
    }
}

/* Tablets */
@media only screen and (min-width: 601px) 
 and (max-width: 1024px)
{}
/* Desktop */
@media only screen and (min-width: 1024px){}
